.fm-button {
  padding: 12px 80px;
  color: #233A59;
  font-size: 1.5em;
  font-weight: bold;
  background: #A2F2F9;
  border-width: 0px 0px 4px 4px;
  border-style: solid;
  border-color: #D8E054;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  &:hover {
    background-color: #49D5E1;
    border-color: #D8E054;
  }

  &:active {
    background-color: #49D5E1;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
}

.fm-button--secondary {}
