// Colors
$primary-color: #D8E054;
$secondary-color: #49D5E1;
$background-color: #ecf0f1;
$text-color: #333;
$container-bg-color: #FFFAC2;
// Typography
$base-font-family: 'Roboto', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
// Layout
$header-height: 20vh;
