.fm-game-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #FFFAC2;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100px * 4 + 30px * 3 * 2);
  margin: 0 auto;
}
