// $primary-color: #D8E054;

// .fm-header-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: auto;

//   .fm-header-logo {
//     width: 500px;
//   }

//   .fm-header-span {
//     padding: 8px 16px;
//     height: auto;
//     background: $primary-color;
//     border-radius: 25px;
//   }
// }

// Definir variables de estilo
$primary-color: #D8E054;

// Bloque principal
.fm-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;

  // Elemento del bloque
  &__logo {
    width: 500px;
  }

  // Elemento del bloque
  &__span {
    padding: 8px 16px;
    height: auto;
    background: $primary-color;
    border-radius: 25px;
  }
}
