@import '../../styles/variables';

.fm-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: $header-height;
  justify-content: center;

  &__logo {
    object-fit: cover;
    width: 400px;

  }

  &__span {
    background: $primary-color;
    border-radius: 25px;
    font-weight: bold;
    height: auto;
    padding: 8px 16px;
  }
}
